/*
* 说明：
*  ".(any)"用于表示日志输出中方括号中的文本;
*  "body#fusion_dark ..."表示为Fusion黑色模式下的文本;
*  "body#fusion ..."表示为Fusion模式下的文本.
*/
.noColor>.file{
  color:#688292
}
.noColor>.server{
  color:#8bd645
}
.noColor>.debug{
  color:#865FC5;
}
.noColor>.error{
  color:#D16969;
}
.noColor>.warn{
  color:#aa5612;
}
.noColor>.info{
  color:#20B2AA;
}
.noColor>.plugins{
  color:#e4b44c;
}
.noColor>.LiteLoader,.noColor>.LiteXLoader,.noColor>.LLMoney{
  color:#5a93c2 ;
}
.noColor>.Chakra{
  color:#a93eca;
}
.noColor>.int{
  color:#b1ac64;
}
