#file{
  color:#688292
}
#server{
  color:#4E8F46
}
#debug{
  color:#865FC5;
}
#error{
  color:#aa0000;
}
#warn{
  color:#aa7a12;
}
#info{
  color:#20B2AA;
}
#LiteLoader,#LiteXLoader,#LLMoney{
  color:#4682B4;
}
#Chakra{
  color:#5555FF;
}
#int{
  color: #6177a0;
}